{% extends 'base.html.twig' %}

{% block title %}Welcome {{ app.user.email }}{% endblock %}

{% block body %}



    <div class="example-wrapper">
        <h1>Welcome {{ app.user.email }}!</h1>
        <a class="btn btn-primary" href="{{ path('app_admin_add_news') }}">Add new news</a>
        {% if allNews %}
        <table class="table">
            <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Lead</th>
            <th>Visible</th>
            <th>CreatedBy</th>
            <th>UpdateBy</th>
            <th>CreatedAt</th>
            <th>UpdateAt</th>
            <th>Edit</th>
            <th>Delete</th>

            </thead>
            {% for news in allNews %}
                <tr>
                    <td>{{ news.id }}</td>
                    <td>{{ news.title }}</td>
                    <td>{{ news.lead }}</td>
                    <td>{% if news.visible %}
                            Visible
                        {% else %}
                            Not visible
                            {% endif %}
                    </td>
                    <td>
                        {% if(news.getCreatedBy) %}
                        {{ news.getCreatedBy.email }}
                        {% endif %}
                    </td>
                    <td>
                        {% if(news.getUpdateBy) %}
                            {{ news.getUpdateBy.email }}
                        {% endif %}
                    </td>
                    <td>
                        {% if(news.getCreatedAt) %}
                            {{ news.getCreatedAt|date }}
                        {% endif %}
                    </td>
                    <td>
                        {% if(news.getUpdateAt) %}
                            {{ news.getUpdateAt|date() }}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('app_admin_edit_news', {'news': news.id}) }}" class="btn btn-primary">Edit</a></td>
                    <td><a onclick="return confirm('Biztos, hogy törlöd?')"  href="{{ path('app_admin_delete_news', {'news': news.id}) }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}

        </table>
        {% else %}
            <p>Nincs megjeleníthető hír</p>
        {% endif %}
    </div>
{% endblock %}
