<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_main') }}">Próba feladat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_main') }}">Homepage <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('news_all') }}">News</a>
                </li>


            </ul>

            <ul class="navbar-nav mr-right">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_index') }}">News admin</a>
                    </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                </li>
                {% endif %}
        </ul>

        </div>
    </nav>
    <div class="container">
        {% if app.session.flashBag %}
            {% for message in app.session.flashBag.get('success') %}
                <b>{{ message }}</b> <br>
            {% endfor %}
        {% endif %}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
